body,
html, 
:root {
    margin: 0;
    padding: 0;
    --main-header-colour: #8EC3B0;
    --main-text-colour: #EEE;
    --main-header-font-family: 'Pacifico', cursive;
    --main-card-colour: #DEF5E5;
    --main-border-colour: #6B728E;
    --main-font-family: 'Merriweather', serif;
}

header {
    margin: 0;
    background-color: var(--main-header-colour);
    display: flex;
    justify-content: space-between;
}

main {
    height: 100vh;
}

.title {
    margin: 30px 0 30px 80px;
    color: var(--main-text-colour);
    font-family: var(--main-header-font-family);
    font-size: 50px;
    font-weight: 400;
}

.add {
    margin: 30px 80px 30px 0;
    width: 80px;
    height: 80px;
    color: var(--main-text-colour);
    font-size: 50px;
    background-color: var(--main-header-colour);
    border: none;
}

.exercise-card {
    border: 3px solid var(--main-border-colour);
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background-color: var(--main-card-colour);
    margin: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.exercise-card-header {
    position: relative;
    top: 0;
    width: 100%;
    height: 23%;
    background-color: var(--main-header-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.exercise-card-date {
    text-align: center;
    
    font-family: var(--main-font-family);
}

.exercise-card-text {
    font-family: var(--main-font-family);
    text-align: center;
    margin: 3px;
    padding: 17px;
    
}


